{
  "agent": {
    "server-url": "http://stork-controller.yourdomain.local:8080",
    "kea-control-sockets": [
      {
        "type": "dhcp4",
        "socket": "/run/kea/kea4-ctrl-socket"
      }
    ]
  }
}
